/*fonts*/
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "/fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}



@include font-face("Inter", "Inter-Regular", 400, normal);
@include font-face("Inter", "Inter-Bold", 700, normal);
@include font-face("Roboto", "Roboto-Regular", 400, normal);


@include font-face("Monserrat", "Monserrat-Regular", 400, normal);
@include font-face("Monserrat", "Monserrat-Medium", 500, normal);
@include font-face("Monserrat", "Monserrat-Bold", 700, normal);


:root {
    --color-white: #fff;
    --color-accent: #AC7E65;
    --color-black: #000;
    --color-dots: #272727;
    --color-dots-mob: #D9D9D9;
    --color-footer:#F9F9F9;
    --color-menu-open:#3D3D3D;
    --color-border-menu: rgba(255, 255, 255, 0.1);
    --color-footer-border:rgba(196, 196, 196, 0.1);
    --gradient-accent: linear-gradient(0deg, #AC7E65 0%, rgba(172, 126, 101, 0.00) 100%);
    --gradient-review: linear-gradient(180deg, rgba(250, 250, 250, 0.95) 0%, rgba(248, 248, 248, 0.95) 100%);
    --Inter: 'Inter', sans-serif;
    --Roboto: 'Roboto', sans-serif;




    --main-color: #000000;
    --color-title: #232323;
    --color-back: #2C2C2C;
    --color-button: #26B44A;
    --back-section-brands: #1B1919;
    --back-input: #D9D9D9;
    --back-contact-line: rgba(217,217,217,0.1);
    --color-error:#C02B0A;
    --back-brands:#151515;
    --back-filter:rgba(0, 0, 0, 0.5);
    --Lato: 'Lato', sans-serif;
    --Poppins: 'Poppins', sans-serif;
    --Europa: 'Europa', sans-serif;
    --Monserrat: 'Monserrat', sans-serif;

}

*,*:before,
*:after {
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
*,body,html {
    -webkit-text-size-adjust: none;
    -webkit-appearance: none;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button{
    border:none;
}
mark{
    -webkit-text-fill-color: initial;
    text-fill-color: transparent;
    background: none;
}

.img{
    &.contain img{
        object-fit: contain;
    }
    & > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
    &:hover{
        text-decoration: none;
    }
}
h1{
    margin: 0;
}
html {
    font-size: 10px;
    scroll-behavior: smooth;
    @media only screen and (max-width: 1680px) {
        font-size: 8.75px;
    }
    @media only screen and (max-width: 1600px) {
        font-size: 8.33px;
    }
    @media only screen and (max-width: 1560px) {
        font-size: 8.125px;
    }

    @media only screen and (max-width: 1440px) {
        font-size: 7.5px;
    }

    @media only screen and (max-width: 1366px) {
        font-size: 7.11px;
    }

    @media only screen and ( max-width: 1280px){
        font-size: 6.66px;
    }

    @media only screen and (max-width: 1024px) {
        font-size: 5.33px;
    }

    @media only screen and (max-width: 768px) {
        font-size: 4px;
    }

    @media only screen and (max-width: 666px) {
        font-size: 10px;
    }
}
