.wrap{
  font-family: var(--Inter);
  max-width: 100vw;
  min-height: 100vh;
  width:100%;
  overflow: hidden;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--color-black);
  position: relative;
}


.container{
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
  padding: 0 15rem;
  color: var(--color-black);;
}

.section{
  &__button{
    background: var(--color-accent);
    color: var(--color-white);
    border-radius: 4.8rem;
    font: 400 1.6rem/1.9rem var(--Inter);
    padding: 2.5rem 3.5rem;
    display: flex;
    width: max-content;
    &:hover {
      transition: 0.2s all ease;
      box-shadow: 0 0 2rem 0 var(--color-accent);
    }
    &__transparent{
      position: relative;
      background: var(--color-white);
      color: var(--color-accent);
      &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 4.8rem;
        border: 0.1rem solid var(--color-accent);
      }
      &:hover {
        transition: 0.2s all ease;
        background-color: var(--color-accent);
        color: var(--color-white);
        box-shadow: none;
      }
    }
  }
  &__title{
    font: 400 6.4rem/7.7rem var(--Inter);
    text-align: center;
    margin-bottom: 1.6rem;
    &-big{
      font: 400 9.6rem/11.6rem var(--Inter);
      text-align: center;
      max-width: 116rem;
      margin: 0 auto;
    }
  }
  &__subtitle{
    font: 400 2.4rem/2.9rem var(--Inter);
    max-width: 62.7rem;
    text-align: center;
    margin: 0 auto;
  }
  &__gradient{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      bottom: 0 ;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--gradient-accent);
      z-index: 1;
      border-radius: 19.3rem;
    }
  }
  &__input{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      opacity: 0.2;
      width: 100%;
      height: 0.2rem;
      background: var(--color-accent);
      left: 0;
      bottom: 0;
    }
    & > *{
      width: 100%;
      border: none;
      font: 400 3.2rem/3.8rem var(--Inter);
      padding: 2.4rem;
      &::placeholder{
        color: var(--color-accent);
        font: 400 3.2rem/3.8rem var(--Inter);
      }
      &:focus{
        border-bottom: 0.1rem solid var(--color-black);
        &::placeholder{
          color: var(--color-black);
        }
      }
    }
  }
}
.header{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 100%;
  z-index: 2;
  .container {
    padding: 4.5rem 15rem;
  }
  &__logo{
    width: 18.2rem;
    height: auto;
    display: block;
  }
  &__menu{
    display: flex;
    font: 400 1.6rem/1.9rem var(--Inter);
    gap: 5.4rem;
    align-items: center;
    justify-content: center;
    margin-left: 13rem;
    a{
      padding: 1.6rem 0;
      transition: all 0.2s ease;
      cursor: pointer;
      &:hover{
        color: var(--color-accent);
      }
    }
  }

  &__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
  }
  &__right{
    display: flex;
    justify-content: flex-end;
    gap: 1.2rem;
    align-items: center;
  }
  &__icon{
    width: 3.2rem;
    height: 3.2rem;
    display: block;
    cursor: pointer;
  }

  &__tel{
    font: 400 1.6rem/1.9rem var(--Inter);
  }


  &__submenu{
    display: none;
    background: var(--color-white);
    position: absolute;
    left: 0;
    top: 2.4rem;
    z-index: 1;
    border-radius: 0.8rem;
    box-shadow: 0.5rem 0.6rem 7.2rem 0 rgba(0, 0, 0, 0.15);
    padding: 0.8rem 3.2rem;
    li{
      width: max-content;
    }
    a {
      padding: 1.6rem 0;
      font: 400 1.4rem/121.15% var(--Inter);
      color: var(--color-black);
      display: inline-block;
      transition: all 0.2s ease;
      &:hover{
        color: var(--color-accent);
        transition: all 0.2s ease;
      }
    }
  }
  &__drop{
    position: relative;
    &:hover .header__submenu{
      display: flex;
      flex-direction: column;
    }
  }
  &__burger{
    width: 2rem;
    height: 1.4rem;
    display: none;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer ;
    position: relative;
    & > *{
      display: block;
      width: 2rem;
      height: 0.2rem;
      background: var(--color-accent);
      border-radius: 0.2rem;
      transition: .2s ease;
    }
    &-open{
      justify-content: center;
      span{
        display: block;
        position: absolute;
        margin: 0;
        transition: .2s ease;

        &:nth-child(1) {
          transform: rotate(-45deg);
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
  &__book{
    padding: 0.6rem 1.5rem;
  }

}

.main{
  position: relative;
  .container{
    padding: 13.5rem 15rem 6.4rem;
  }

  &__back{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
  }
  &__title{
    font: 400 9.6rem/11.6rem var(--Inter);
    margin-bottom: 2.4rem;
    max-width: 99.7rem;
  }
  &__subtitle{
    font: 400 3.2rem/3.8rem var(--Inter);
    margin-bottom: 4.8rem;
    max-width: 83.2rem;
  }
  &__button{
    padding: 2.5rem 3.5rem;
  }
  &__anker{
    display: flex;
    justify-content: center;
    margin: -3.2rem auto 0;
    a{
      display: inline-block;
    }
    h3 {
      font: 400 1.2rem/1.5rem var(--Inter);
      color: var(--color-accent);
      margin-bottom: 0.8rem;

    }
    &-icon{
      margin: 0 auto;
      width: 4.8rem;
      height: 4.8rem;
    }
  }
  &__flex{
    display: flex;
    justify-content: space-between;
    gap:10rem;
    align-items: center;
  }
  &__block{
    width: calc(68.4% - 10rem);
  }
  &__gallery{
    width: 31.6%;
    overflow: hidden;
    &-img{
      height: 80.6rem;
      border-radius:24rem;
      img{
        border-radius:inherit;
      }
    }

  }


}

.banner{
  .container{
    position: relative;
    padding: 15rem 13rem 5rem;
  }

  &__block{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 18rem;
    left: 27rem;
    color: var(--color-white);
    max-width: 62.7rem;
    & > *{
      text-align: left;
    }
  }
  &__logo{
    width: 13.1rem;
    margin-bottom: 2.2rem;
  }
  &__img{
    img{
      border-radius:8rem;
    }
  }

}

.achievement{
  .container{
    padding: 5rem 15rem 5rem;
  }
  &__list{
    display: flex;
    gap: 2.4rem;
    margin-top: 6.4rem;
  }
  &__item{
    width: calc((100% - 7.2rem)/4);
    border-radius: 19.3rem;

  }
  &__img{
    max-height: 65.4rem;
    height: 100%;
    img{
      border-radius: 19.3rem;
    }

  }
  &__info{
    color: var(--color-white);
    text-align: center;
    position: absolute;
    bottom: 7.8rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    & > h3{
      font: 700 6.4rem/7.7rem var(--Inter);
      width: max-content;
      margin: 0 auto 1.6rem;
    }
    &>h4{
      font: 400 2rem/2.4rem var(--Inter);
    }
  }
  &__counter{
    &:after {
      content: "+";
      display: inline-block;
    }
  }
}


.quiz{
  .container{
    padding: 10rem 13rem;
  }
  &__flex{
    display: flex;
    justify-content: space-between;
    gap:11.8rem;
    padding: 2.4rem;
    border-radius: 8rem;
    border: 0.1rem solid var(--color-accent);
    margin-top: 3.2rem;
  }
  &__form{
    max-width: 63.2rem;
  }
  &__button{
    padding: 2.5rem 7.2rem;
    margin:7.2rem auto 0;
    &:disabled{
      opacity: 0.7;
    }
  }
  &__img{
    border-radius: 8rem;
    width: 36.8rem;
    height: 59rem;
  }
  .section__gradient:after{
    border-radius: 8rem;
  }
  &__question{
    text-align: center;
    display: none;
    transition: all 0.2s ease;
    &.active{
      display: block;
      transition: all 0.2s ease;
    }
    &-step{
      font: 400 1.4rem/1.7rem var(--Inter);
      color:var(--color-accent);
      padding: 0.6rem 1.6rem;
      border-radius: 2rem;
      border: 0.1rem solid var(--color-accent);
      margin-bottom: 1.8rem;
      display: inline-block;
    }
    &-text{
      font: 400 2.4rem/2.9rem var(--Inter);
      margin-bottom: 4.8rem;
    }
  }

  &__answer{
    display: flex;
    justify-content: center;
    gap:1.6rem;
    flex-wrap: wrap;
    &-icon{
      width: 5rem;
      height: 5rem;
      margin: 0 auto;
    }
    & > *{
      border-radius: 1.2rem;

      width: 20rem;
      display: flex;
      flex-direction: column;
      gap:1.1rem;
      align-items: center;
    }
    label{
      padding: 2rem;
    }
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
      width: 100%;
      position: relative;
      cursor: pointer;
      display: inline-block;
    }
    input + label:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 0.1rem solid #F4F4F4;
      border-radius: 1.2rem;
      padding: 2rem 3rem;
    }
    input:checked + label:after,
    input:not(:checked) + label:after {
      content: '';
      width: 100%;
      height:100%;
      border: 0.5rem dashed var(--color-accent);
      position: absolute;
      border-radius: 1.2rem;
      top: 0;
      left: 0;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    input:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    input:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}

.service{
  .container{
    padding: 5rem 15rem 10rem;
    &:after{
      position: absolute;
      content: '';

      bottom: 0;
      width: calc(100% - 26rem);
      left: 50%;
      transform: translateX(-50%);
      height: 0.1rem;
      background: var(--color-accent);
    }
  }
  &__block{
    &:last-child{
      margin-top: -17rem;
    }
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    gap:6.9rem;
    row-gap: 4.8rem;
    margin-top:4.8rem ;

  }
  &__item{
    width: calc((100% - 6.9rem)/2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:6.9rem;
    &-reverse{
      flex-direction: row-reverse;
    }
  }
  &__img{
    height: 48rem;
    min-width: 44.1%;
    max-width: 44.1%;

    img{

      border-radius: 19.3rem;
    }
  }
  &__info{
    max-width: 30rem;
    h3{
      font: 400 4.8rem/6.6rem var(--Inter);
      margin-bottom: 1.6rem;
    }
    p{
      font: 400 2.4rem/2.9rem var(--Inter);
      margin-bottom: 4.8rem;
    }
    a{
      padding: 2.5rem 4.9rem;
    }
  }
  &__view{
    display: flex;
    max-width: max-content;
    padding: 2.5rem 8rem ;
    margin: 9.6rem auto 0;
  }
  &__mob{
    display: none;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    gap:5rem
  }
  &__all{
    .container{
      padding: 16.4rem 15rem 20rem;
    }
    .section__title{
      text-align: left;
      margin-bottom: 4.4rem;
    }
  }
  &__nav{
    max-width: 83.2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:3.2rem;
    row-gap: 0;
    &-read{
      padding: 2.5rem 4.9rem;
    }
    li{
      padding:  2rem 0;
      cursor: pointer;
      font: 400 2.4rem/2.9rem var(--Inter);
      width: calc(50% - 1.6rem);
      position: relative;
      &:before{
        content:'';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1rem;
        background-color:var(--color-dots-mob);
      }
      &.active{
        color:var(--color-accent);
        padding-left: 2rem;

        &:after{
          content:'';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 0.4rem;
          height: 0.4rem;
          border-radius: 50%;
          background-color:var(--color-accent);
        }
      }
    }
    &-desc{
      margin: 6.4rem 0 4.8rem;
      max-width: 54rem;
      li{
        font: 400 2rem/2.4rem var(--Inter);
        color:#525252;
        display: none;
        &.active{
          display: block;
        }
        mark{
          font: 700 2rem/2.4rem var(--Inter);
          color:var(--color-black);
        }
      }
    }
    &-img{
      width: 52.4rem;
      height: 80.9rem;
      display: none;
      border-radius: 22rem;
      &.active{
        display: block;
      }
      img{
        border-radius: 22rem;
      }
    }
  }

}

.procedure{
  .container{
    padding: 10rem 15rem;
  }
  &__list{
    margin-top: 4.8rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:2.4rem;
  }
  &__item{
    width: calc((100% - 2.4rem)/2);
    position: relative;

  }
  &__info{
    position: absolute;
    z-index: 2;
    bottom: 8rem;
    left: 8rem;
    max-width: 59.2rem;
    & > *{
      color: var(--color-white);
      text-align: left;
    }

  }
  &__img{
   height: 80rem;

    img{
      border-radius: 8rem;
    }
  }
  .section__title{
    margin-bottom: 3.2rem;
  }
  .section__gradient:after{
    border-radius: 8rem;
  }
}

.consultation{
  .container{
    padding: 0 20rem 15rem;
  }
  &__subtitle{
    font: 400 3.2rem/3.9rem var(--Inter);
    text-align: center;
    max-width: 83.2rem;
    margin: 2.4rem auto 0;
  }
  .section__title-big{
    max-width: 84.5rem ;
    margin: 0 auto;
  }
  &__flex{
    display: flex;
    gap:4rem;
    justify-content: space-between;
    margin-bottom: 7.2rem;
    & > *{
      width: calc((100% - 8rem)/3)!important;
    }
    &-medium {
      display: flex;
      gap:4rem;
      justify-content: space-between;
      margin-bottom: 7.2rem;
      & > *{
        width: calc((100% - 4rem)/2);
      }
    }
  }
  &__form{
    margin-top: 7.4rem;
  }
  &__button{
    margin: 7.6rem auto 0;
    display: flex;
  }
}

.review{
  background: var(--gradient-review);
  .container{
    padding: 6.4rem 15rem;

  }
  &__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.4rem;
    align-items: center;
  }
  &__title{
    font: 400 4.8rem/5.8rem var(--Inter);
  }
  &__nav{
    display: flex;
    justify-content: flex-end;
    gap:1.2rem;
    &>*{
      left: auto;
      right: auto;
      bottom: auto;
      top:auto;
    }
  }
  &__slider{
    margin-bottom: 4.8rem;
  }
  &__item{
    border-radius: 3.5rem;
    background: var(--color-white);
    padding: 3.2rem;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    gap: 4.8rem;
  }
  &__img{
    height: 2rem;
  }
  &__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  &__date{
    font: 400 1.6rem/140% var(--Roboto);
    opacity: 0.5;
  }
  &__name{
    font: 400 1.6rem/140% var(--Roboto);
    opacity: 0.5;
  }
  &__text{
    span{
      color:var(--color-accent);
      font: 700 1.6rem/140% var(--Roboto);
      padding-left: 0.5rem;
    }
  }
}

.footer{
  position: relative;

  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  black;
    opacity: 0.8;
    z-index: -1;
  }
  &>*{
    color: var(--color-footer);
  }
  &__logo{
    width: 38.8rem;
  }
  &__desc{
    font: 400 2.4rem/140% var(--Roboto);
    max-width: 47.3rem;
  }

  .container{
    padding: 10rem 13rem 6.6rem ;
    position: relative;
    z-index: 1;
  }
  &__back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 0;
  }
  &__flex{
    display: flex;
    align-items: center;
    &-bottom{
     border-top: 0.1rem solid var(--color-footer-border) ;
     border-bottom: 0.1rem solid var(--color-footer-border) ;
      &>*{
        width: 50%;
      }
    }
  }
  &__info{
    display: flex;
    gap:13rem;
    padding: 6.4rem 9.6rem 6.4rem 0 ;
    border-top: 0.1rem solid var(--color-footer-border);
    margin-top: 7.6rem;
    &-item{
      h4{
        font: 400 1.6rem/1.9rem var(--Inter);
        margin-bottom: 0.8rem;
      }
      a{
        font: 400 2.4rem/2.9rem var(--Inter);
        transition: 0.2s all ease;
        &:hover {
          transition: 0.2s all ease;
          color: var(--color-accent);
        }
      }
    }
  }
  &__block{
    border-right: 0.1rem solid var(--color-footer-border);
  }
  &__social{
    display: flex;
    justify-content: space-between;
    border-left: 0.1rem solid var(--color-footer-border);
    padding: 4rem 0 4rem 4.8rem;
    &-list{
      display: flex;
      gap: 2.4rem;
      & > a {
        display: block;
        width: 3.2rem;
        height: 3.2rem;
      }
    }

  }
  &__service{
    padding-left: 9.6rem;
    h3{
      font: 400 2.4rem/3.4rem var(--Roboto);
      margin-bottom: 3.2rem;
    }
    &-list{
      display: flex;
      gap: 2.4rem;
      flex-direction: column;
      a{
        font: 400 1.4rem/1.7rem var(--Inter);
        transition: 0.2s all ease;
        &:hover {
          transition: 0.2s all ease;
          color:  var(--color-accent);
        }
      }
    }
  }
  &__form{
    display: flex;
    gap: 6.4rem;
    align-items: center;
    h3{
      font: 400 2.4rem/2.9rem var(--Inter);
    }
    &-input{
      position: relative;
      max-width: 53.2rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      input{
        border: none;
        padding: 1.8rem 3.2rem;
        background: transparent;
        font: 400 1.4rem/1.7rem var(--Inter);
        &::placeholder{
          font: 400 1.4rem/1.7rem var(--Inter);
        }
      }
      button{
        padding: 1.8rem 6.2rem;
        border-radius: 2.7rem;
        border: 0.1rem solid var(--color-white);
        font: 400 1.6rem/1.9rem var(--Inter);
        background: transparent;
      }
      &:after{
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 2.7rem;
        border: 0.1rem solid var(--color-white);
        opacity: 0.1;
        pointer-events: none;
      }
    }
  }
  &__menu{
    display: flex;
    align-items: center;
    gap: 6.1rem;
    a{
      font: 400 1.6rem/1.9rem var(--Inter);
      transition: 0.2s all ease;
      &:hover {
        transition: 0.2s all ease;
        color: var(--color-accent);
      }
    }
  }
  &__bottom{
    justify-content: space-between;
    padding-top: 6.4rem ;
    h3{
     font: 400 1.4rem/1.7rem var(--Roboto);
      color:  var(--color-footer);
      opacity: 0.5;
    }
    &-list{
      display: flex;
      gap:3.2rem;
      & > *{
        font: 400 1.4rem/1.7rem var(--Inter);
        color:  var(--color-white);
        transition: 0.2s all ease;
        &:hover {
          transition: 0.2s all ease;
          color: var(--color-accent);
        }
      }
    }
  }
}


.modal{
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top:0;
  left: 0;
  z-index: 4;
  button{
    border: none;
  }
  &__close {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 5;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 2rem;
      height: 2rem;
      background: url("../img/hide.svg") center/2rem 2rem no-repeat;
    }
  }
  &__wrap{
    position: relative;
    width: 100%;
    height: 100%;
    &:after{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: var(--color-black);
      opacity: 0.5;
      top: 0;
      left: 0;
    }
  }
  &__content{
    max-width: 90rem;
    width: 100%;
    background: var(--color-white);
    border-radius: 0.2rem;
    position: absolute;
    padding: 3.2rem;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 6;
    &-small{
      max-width:  47.2rem;
    }
  }


  &__review{
    .modal__content{
      padding-bottom: 9.6rem;
    }
    .review__text{
      width: 90%;
    }

    .review__text p{
      overflow-y: scroll;
      max-height: 21rem;
      padding-right: 1rem;
      &::-webkit-scrollbar {
        background-color :transparent;
        width: 0.4rem;
      }
      &::-webkit-scrollbar-thumb {
        background-color:var(--color-grey);
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      color: var(--color-pudre);
      height: 2rem;
      width: 1rem;
      bottom: 0rem;
      opacity: 0.8;
      top: auto;
    }
    .swiper-button-prev {
      left: 4% ;
    }
    .swiper-button-next {
      right: 4%;
    }
    .swiper-button-next:after, .swiper-button-prev:after{
      font-size: 2rem;
    }
  }


}


.swiper-button-prev,.swiper-button-next{
  position: relative;
  width: 10rem;
  height: 10rem;
  margin-top: 0;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10rem;
    height: 10rem;
    background: url("../img/arrow.svg") center/10rem 10rem  no-repeat ;
  }
}
.swiper-button-prev:after{
  transform: rotate(180deg);
}

.swiper-pagination {
  position: relative;
  margin: 0 auto;
  display: flex;
  gap:2.4rem;
  justify-content: center;
  z-index: 1;
  &.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 0;
  }

  &:after{
    //content:'';
    //position:absolute;
    //left: 50%;
    //top:50%;
    //transform: translate(-50%,-50%);
    //height: 0.05rem;
    //border: 0.1rem solid var(--color-gold-light);
    //z-index: 0;
  }

  .swiper-pagination-bullet{
    background: var(--color-dots);
    opacity: 1;
    width: 0.8rem;
    height: 0.8rem;
    margin: 0;
  }
  .swiper-pagination-bullet-active{
    background: var(--color-accent);
  }
}
label.error{
  color:red;
  font: 400 1.6rem/1.9rem var(--Inter);
  position: absolute;
  left: 0;
  bottom: -2.4rem;
  padding: 0;
}
.hidden{
  overflow: hidden;
}
.select2-container--default .select2-selection--single{
  border: none;
  padding: 2.4rem;
  &:after{
    content: '';
    height: 0.2rem;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--color-accent);
    opacity: 0.2;
    position: absolute;
  }
}
.select2-container .select2-selection--single .select2-selection__rendered{
  font: 400 3.2rem/3.8rem var(--Inter);
  color: var(--color-accent);
  position: relative;

}
.select2-container--default .select2-results__option[aria-selected=true]{
  background-color: transparent;
}
.select2-search__field{
  display: none;
}
.select2-dropdown{
  border-radius: 0.8rem;
  background: var(--color-white);
  border: none;
  box-shadow: 0.5rem 0.6rem 7.2rem 0 rgba(0, 0, 0, 0.15);
  padding: 3.2rem 6.4rem;

}
.select2-container--default .select2-results>.select2-results__options{
  max-height: max-content;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
  top:50%;
  transform: translateY(-50%);
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-color: var(--color-accent) transparent transparent transparent;
  //border-width: 1.2rem 1.2rem 0  1.2rem;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
  border-color: transparent transparent var(--color-accent) transparent;
  //border-width: 0 1.2rem 1.2rem 1.2rem;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  color:var(--color-accent);
}
.select2-results__option{
  font: 400 2.4rem/2.9rem var(--Inter);
  &:not(:last-child){
    padding-bottom: 2.4rem;
  }
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
  background-color: transparent;
  color:var(--color-accent);
}

@media (max-width: 1920px) {
 .procedure__img{
   height: 41.7vw;
 }
}
@media (max-width: 1600px) {
  .header__menu{
    gap:4rem;
    margin: 0;
  }
  .wrap .container{
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
@media (max-width: 1024px) {
  .footer__menu{
    gap:4.8rem;
  }
  .footer__info{
    gap:4.8rem
  }
}
@media (max-width: 666px) {
  .wrap .container{
    padding: 3.2rem 2rem;
  }
  .header .container{
    padding: 2rem;
  }
  .main .container{
    padding: 8rem 2rem 6.4rem;
  }
  .main__flex{
    flex-direction: column-reverse;
    gap:2.4rem;
    &>*{
      width: 100%;
    }
  }
  .main__title{
    font-size: 2.4rem;
    line-height: 2.9rem;
    text-align: center;
    margin-bottom: 1.2rem;
  }
  .main__subtitle{
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
    margin-bottom: 3.2rem;
  }
  .main .section__button{
    margin: 0 auto;
  }
  .main__anker{
    margin: 8.5rem auto 0;
  }
  .main__gallery-img{
    height: 44vw;
    img{
      border-radius:19.3rem ;
    }
  }
  .banner .container{
    padding-top: 6.4rem;
  }
  .banner__logo{
    margin:0 auto 0.2rem;
  }
  .banner__img{
    border-radius: 1.6rem;
  }
  .banner__img img{
    border-radius: 1.6rem;
  }
  .banner__block{
    bottom: auto;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0 3.2rem;
    width: 100%;
    & > *{
      text-align: center;
    }
  }
  .banner__img{
    height: 100vw;
    img{
      object-position: left;
    }
  }
  .header__tel, .header__started{
    display: none;
  }
  .header__logo{
    width: 7.2rem;
  }
  .header__burger {
    display: flex;
  }
  .header__menu-mob{
    display: none;
  }
  .header__menu{
    gap:0;
    flex-direction: column;
    align-items: flex-start;
  }
  .header__drop-open{
    &:after{
      background: url("../img/minus__drop.svg") center/1.5rem 1.5rem no-repeat;
    }

  }
  .header__drop{
    position: relative;
    &:hover .header__submenu{
      display: none;
    }
  }
  .header__menu a:hover{
    color: var(--color-white);
  }
  .header .header__drop .header__submenu-open {
    display: block;
    width: 100%;
    position: relative;
    top: 0;
    margin-bottom: 2rem;
    padding: 0;
    box-shadow: none;
    background-color: var(--color-menu-open);
    color: var(--color-accent);
  }
  .header__menu-show{
    display: block;
    position: absolute;
    width: 100vw;
    z-index: -1;
    top:0;
    left: 0;
    overflow: scroll;
    min-height: 100vh;
    height: 100%;
    background-color: var(--color-menu-open);
    padding: 8.8rem 3.4rem 3.4rem ;
  }
  .header__open .container{
    background-color: var(--color-menu-open);
  }
  .header__open .header__logo{
    filter: brightness(0) invert(1)!important;
  }
  .header__menu a{
    padding: 2rem 0;
    display: block;
    color: var(--color-white);
    position: relative;
    width: 100%;
    &:after{
      width: 100%;
      height: 0.1rem;
      background-color: var(--color-border-menu);
    }
  }
  .header__menu li{
    width: 100%;
    border-bottom: 0.1rem solid var(--color-border-menu);
    border-top: 0.1rem solid var(--color-border-menu);
  }
  .header__submenu-open li{
    border: none;
  }


  .header__drop > a{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1.2rem;
      width: 1.5rem;
      height: 1.5rem;
      background: url("../img/plus__drop.svg") center/1.5rem 1.5rem no-repeat;
    }
  }
  .header__drop-open > a{
    &:after{
      background: url("../img/minus__drop.svg") center/1.5rem 1.5rem no-repeat;
    }
  }
  .header__submenu{
    display: none ;
  }


  .header__submenu-open a{
    padding: 0.8rem 0;
    color: var(--color-accent);
  }

  .header__icon{
    width: 2.4rem;
    height: 2.4rem;
  }

  .section__button{
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  .section__title{
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom:1.2rem ;
  }
  .section__button{
    padding: 1.5rem 3.2rem;
  }
  .section__title-big{
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
  .section__subtitle{
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  .achievement__list{
    margin-top: 2.4rem;
    flex-wrap: wrap;
    gap:1.6rem
  }

  .achievement__item{
    width: calc((100% - 1.6rem)/2);
    height: 62.5vw;
  }
  .achievement__img{
    height: 62.5vw;
  }
  .achievement__info > h3{
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin: 0 auto;
  }
  .achievement__info > h4{
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .achievement__info{
    bottom: 3.5rem;
  }
  .service__item{
    flex-direction: column-reverse;
    width: 100%;
    gap:2.4rem;
  }
  .service__item-reverse{
    flex-direction: column-reverse;
  }
  .service__img{
    height: 41vw;
    max-width: 100%;
    min-width: 100%;
  }
  .service__info h3{
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 1.2rem;
    text-align: center;
  }
  .service__info p{
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-bottom: 2.4rem;
    text-align: center;
  }
  .service__info a{
    padding: 1.5rem 2.1rem;
    margin: 0 auto;
  }
  .service__all{
    .service__info p{
      font-size: 1.6rem;
      line-height: 1.9rem;
      margin-bottom: 3.2rem;
    }
    .service__info a{
      padding: 1.5rem 8rem;
    }
  }
  .service__info mark{
    font-weight: 700;
  }
  .service__all .container{
    padding: 6rem 2rem 6.4rem;
  }
  .service__all .section__title{
    text-align: center;
    margin-bottom: 2.4rem;
  }
  .service__view{
    margin: 3.2rem auto 0;
  }
  .service .container{
    padding-right: 0;
  }
  .service__info h3{
  }
  .service__list{
    margin-bottom: 4.8rem;
    flex-wrap: nowrap;
    gap:0;
  }

  .procedure__list{
    flex-wrap: nowrap;
    gap:0;
    margin-bottom: 3.8rem;
  }
  .procedure .section__gradient:after{
    border-radius: 1.6rem;
  }
  .procedure__img{
    height: 70vw;
  }
  .procedure__img img{
   border-radius: 1.6rem;
  }
  .procedure .section__title{
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-bottom: 1.3rem;
  }
  .procedure .container{
    padding-right: 0;
  }
  .procedure .section__subtitle{
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .procedure__info{
    bottom: 3.2rem;
    left: 2rem;
  }
  .consultation__subtitle{
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  .section__input > * {
    padding: 1.6rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
  .section__input > *::placeholder{
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
  .consultation__flex{
    flex-direction: column;
    gap:1.6rem;
    margin-bottom:1.6rem;
  }
  .consultation__form{
    margin-top: 3.2rem;
  }
  .consultation__flex > *{
    width: 100%!important;
  }
  .consultation__flex-medium{
    flex-direction: column;
    gap:1.6rem;
    margin-bottom:1.6rem;

  }
  .consultation__flex-medium > *{
    width: 100%;
  }
  .consultation .container{
    padding: 3.2rem 2rem 6.4rem;
  }
  .consultation__button{
    margin-top: 3.2rem;
  }
  label.error {
    font: 400 1.2rem/1.4rem var(--Inter);
    bottom: -1.6rem;
  }
  .review .swiper-button-prev, .review  .swiper-button-next{
    display: none;
  }
  .review__title{
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-align: center;
  }
  .review__header{
    justify-content: center;
  }

  .swiper-pagination {
    .swiper-pagination-bullet{
      background: var(--color-dots-mob);
    }
    .swiper-pagination-bullet-active{
      background: var(--color-accent);
      position: relative;
      &:after{
        content:'';
        position:absolute;
        left: 50%;
        top:50%;
        border-radius: 50%;
        transform: translate(-50%,-50%);
        height: 2.4rem;
        width: 2.4rem;
        border: 0.1rem solid var(--color-accent);
        z-index: 0;
      }
    }
  }
  .select2-container--default .select2-selection--single{
    padding: 1.6rem 1.6rem 3.2rem;
  }
  .select2-container .select2-selection--single .select2-selection__rendered{
  padding: 0;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
  .select2-dropdown{
   padding: 1.6rem 3.2rem;

  }
  .select2-results__option{
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
  .select2-results__option:not(:last-child) {
    padding-bottom: 1.6rem;
  }
  .footer__logo{
    width: 51vw;
    margin: 0 auto 0.2rem;
  }
  .footer__desc{
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;
  }
  .footer__service, .footer__menu, .footer__flex-bottom, .footer__info>*:first-child{
    display: none;
  }
  .footer__info{
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .footer__info>*:first-child{
    display: none;
  }
  .footer__info{
    padding: 0;
    margin: 3.2rem 0 4.8rem;
    gap:2.4rem
  }
  .footer__bottom{
    flex-direction: column-reverse;
    gap:3.2rem;
    padding: 0;
    width: 100%;
  }
  .footer__bottom-list{
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 3.2rem 0;
    row-gap: 2.4rem;
    border-bottom: 0.1rem solid var(--color-footer-border);
    border-top: 0.1rem solid var(--color-footer-border);
    &>*{
      width: calc(50% - 3.2rem);
    }
  }
  .footer__flex{
    justify-content: center;
  }
  .footer__block{
    border: none;
  }
  .footer__info{
    border-top:none;
  }
  .header__book{
    display: none;
  }
  .header__menu-mob .header__book{
    display: block;
    margin: 3.2rem auto;
  }
  .service__mob{
    display: block;
  }
  .service__desc{
    display: none;
  }
}













.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  font-family: "Avenir";
  font-size: 18px;
  color: #172E2C;
}
.form__label_phone > span {
  margin-bottom: 8px;
}

.iti {
  position: relative;
  display: inline-block;
}

input[type=tel]{
  -webkit-backface-visibility: hidden;
  background: #fff;
  border: 0.1rem solid  #CDBD95;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  padding: 0.36rem 0.66rem;
  -webkit-appearance: none;
  outline-offset: 0;
  border-radius: 0;
}

.iti__country-list::-webkit-scrollbar {
  background-color: transparent;
  width: 0.4rem;
}
.iti__country-list::-webkit-scrollbar-thumb {
  background-color: red;
}










.wrap {
  font-family: var(--Lato);
  color: var(--main-color);
  max-width: 100vw;
  width: 100%;
  overflow: hidden;
  font-weight: 400;
}
.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  overflow: hidden;
}



.articles-main{
  &>section:nth-child(odd){
    background: #1B1919;
  }
  &>section:nth-child(even){
    background: #151515;
  }
}


.articles{
  &__container{
    padding: 7rem 9rem;
    color:var(--color-white)
  }
  &__title{
    &-section>*{
      font: 700 5.6rem/7.2rem var(--Monserrat);
      margin-bottom: 3rem;
      color:var(--color-white);

    }
  }
  &__title>*{
    font: 600 8rem/120% var(--Monserrat);
    margin-bottom:2rem;
    text-align: center;
  }
  &__subtitle>*{
    font: 400 1.8rem/165% var(--Monserrat);
    text-align: center;
    max-width: 60rem;
    margin: 0 auto;
  }
  a{
    position: relative;
    &:after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1rem;
      background-color: var(--color-white);
    }
  }

}


.popular{
  &__container{
    padding: 9rem;
    color:var(--color-white)
  }
  &__list{
    display: flex;
    gap:6rem;
    flex-wrap: wrap;
    row-gap: 0;
  }
  &__item{
    padding: 1rem 0 ;
    width:calc(50% - 3rem);
    border-bottom: 0.1rem solid var(--color-white);

    &:first-child, &:nth-child(2){
      border-top: 0.1rem solid var(--color-white);
    }
    a{
      display: flex;
      gap:2rem;
      align-items: center;
      height: 100%;

    }
    h3{
      font: 400 1.8rem/2.7rem var(--Monserrat);
      height: 2.7rem;
      overflow: hidden;
      margin: auto 0;
    }
  }
  &__img{
    min-width: 10rem;
    height: 5.6rem ;
  }

}

.topic{
  &__container{
    padding: 9rem;
    color:var(--color-white)
  }
  &__name{
    font: 500 1.8rem/130% var(--Monserrat);
    text-transform: uppercase;
    margin-bottom: 3rem;
  }
  &__block{
    display: flex;
    flex-wrap: wrap;
    gap:6rem;
    &-item{
      width: calc(50% - 3rem);
    }
  }
  &__list{
    &>*:first-child{
      border-top: 0.1rem solid var(--color-white);
    }
    & > *{
      padding: 2rem 0;
      display: block;
      size: 600 1.8rem/130% var(--Monserrat);
      border-bottom: 0.1rem solid var(--color-white);
    }
  }
  &__readmore{
    margin-top: 4rem;
    position: relative;
    display: block;
    padding-left: 3rem;
    font-size: 600 1.3rem/1.4rem var(--Monserrat);
    text-transform: capitalize;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 2.4rem;
      height: 2.5rem;
      background: url("../img/white-arr.svg") center/2.4rem 2.5rem no-repeat;
    }
  }
}


.date{
  &__container{
    padding: 9rem;
    color:var(--color-white);
    &>h3{
      font: 500 1.8rem/130% var(--Montserrat);
      text-transform: uppercase;
      margin-bottom: 2rem;
    }
  }
  &__tab {
    &-wrap{
      display: flex;
      gap:3.2rem;
      margin-bottom: 4rem;
      overflow-x: scroll;
      width: 100%;
      padding-bottom: 2rem;
      &::-webkit-scrollbar {
        width: 10px;
        height: 0.7rem;
        background-color:#1B1919;
      }
      &::-webkit-scrollbar-thumb {
        background-color: grey;
        border-radius: 10rem;
        box-shadow: inset 0.1rem 0.1rem 1rem grey;
      }
    }
    .tab{
      font: 500 2.4rem/121.4% var(--Montserrat);
      padding: 0.6rem 2rem;
      display: block;
      cursor: pointer;
      opacity: 0.6;


    }
    .active{
      position: relative;
      opacity: 1;
      font-weight: 700;
      &:after{
        content: '';
        position: absolute;
        height: 100%;
        border-radius: 2.5rem;
        width: 100%;
        bottom: 0;
        left: 0;
        border: 0.1rem solid var(--color-white);
      }
    }
    &-item{
      & > h4{
        font-size: 5.6rem;
        font-weight: 700;
        line-height: 130%;
        font-family: var(--Monserrat);
        margin-bottom: 3rem;
      }
      display: none;

      &:first-child {
        display: block;
      }

    }
  }
  &__item{
    &:first-child{
      border-top: 0.1rem solid var(--color-white);
    }
    border-bottom: 0.1rem solid var(--color-white);
    a{
      display: flex;
      gap:4rem;
      align-items: center;
      padding: 1rem;
      position: relative;


      &:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 2.4rem;
        height: 2.5rem;
        background: url("../img/white-arr.svg") center/2.4rem 2.5rem no-repeat;
      }
    }
  }
  &__month{
    font: 500 1.3rem/150% var(--Monserrat);
    white-space: nowrap;
    text-transform: uppercase;
  }
  &__img{
    height: 4rem;
    width: 6rem;
    min-width: 6rem;
  }
  &__title{
    font: 700 1.8rem/150% var(--Monserrat);
    max-height: 2.7rem;
    overflow: hidden;
    padding-right: 4rem;
  }
}


.modal{
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top:0;
  left: 0;
  z-index: 4;
  button{
    border: none;
  }
  &__close {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 5;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 2rem;
      height: 2rem;
      background: url("../img/hide.svg") center/2rem 2rem no-repeat;
    }
  }
  &__wrap{
    position: relative;
    width: 100%;
    height: 100%;
    &:after{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: var(--color-black);
      opacity: 0.5;
      top: 0;
      left: 0;
    }
  }
  &__content{
    max-width: 90rem;
    width: 100%;
    background: var(--color-white);
    border-radius: 0.2rem;
    position: absolute;
    padding: 3.2rem;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 6;
    &-small{
      max-width:  47.2rem;
    }
  }
}


.subs{
  &__container{
    padding: 9rem;
    color: var(--color-white);
  }
  &__title{
    font: 700 2.6rem/120% var(--Monserrat);
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 3rem;
    max-width: 68rem;
  }
  &__subtitle{
    font: 400 1.6rem/165% var(--Monserrat);
    text-align: center;
    margin: 0 auto 3rem;
    max-width: 68rem;
    a{
      font-style: italic;
      text-decoration-line: underline;
    }
  }
  &__form{
    display: flex;
    border-radius: 2.5rem;
    background-color: white;
    max-width: 35rem;
    width: 100%;
    border: 0.1rem solid white;
    justify-content: space-between;
    margin: 0 auto 3rem;

  }
  &__button{
    border-radius: 2.5rem;
    background-color: black;
    padding: 0 3.1rem;
    text-transform: uppercase;
    white-space: nowrap;
  }
  &__input{
    font: 400 1.4rem/1.6rem var(--Monserrat);
    color: black;
    padding: 1.6rem 2rem;
    position: relative;

    input::placeholder{
      color: #757575;
      font: 400 1.4rem/1.6rem var(--Monserrat);
    }
    input{
      border: none;
    }
  }
  &__link{
    margin: 0 auto 3rem;
    max-width: 68rem;
    font: 400 1.4rem/165% var(--Monserrat);
    font-style: italic;
    text-align: center;
    a{
      text-decoration: underline;
    }
  }

}
.email-error{
  color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  font: 400 1.4rem/1.6rem var(--Monserrat);
}


@media (max-width: 666px) {
  .articles__title > *{
    font-size: 4.6rem;
  }
  .articles__subtitle > *{
    font: 400 1.6rem/130% var(--Monserrat);
  }
  .articles__title-section > *{
    font:700 3.2rem/130% var(--Monserrat);
    margin-bottom: 2rem;
  }
  .popular__item{
    width: 100%;
  }
  .popular__item:nth-child(2){
    border-top:0;
  }
  .popular__item h3{
    font-size: 1.4rem;
    line-height: 130%;
    height: 3.7rem;
  }
  .popular__item a{
    min-height: 4.5rem;
  }
  .popular__img{
    min-width: 8rem;
    height: 4.5rem;
  }
  .topic__block-item{
    width: 100%;
  }
  .topic__list > *{
    font-size: 1.4rem;
    padding: 1rem 0;
  }
  .date__tab-wrap{
    margin-bottom: 3rem;
    gap: 2.2rem;
  }
  .date__container > h3{
    font-size: 1.6rem;
  }
  .date__tab-item > h4{
    font-size: 3.2rem;
  }
  .date__tab .tab{
    font-size: 2rem;
  }
  .date__item a{
    flex-direction: column;
    gap:1.2rem;
    align-items: flex-start;
  }
  .date__item a:after{
    bottom: 1rem;
    transform: none;
    top:unset;

  }
  .subs__input{
    padding: 1.6rem 1rem;
  }
  .subs__form{
    max-width: 30rem;
  }
  .subs__button{
    padding: 1rem;
    width: 100%;
  }

}
