.wrap{
  font-family: var(--Inter);
  max-width: 100vw;
  min-height: 100vh;
  width:100%;
  overflow: hidden;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--color-black);
  position: relative;
}


.container{
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
  padding: 0 13rem;
  color: var(--color-black);;
}

.section{
  &__button{
    background: var(--color-accent);
    color: var(--color-white);
    border-radius: 4.8rem;
    font: 400 1.6rem/1.9rem var(--Inter);
    padding: 2.5rem 3.5rem;
    display: flex;
    width: max-content;
    &:hover {
      transition: 0.2s all ease;
      box-shadow: 0 0 2rem 0 var(--color-accent);
    }
    &__transparent{
      position: relative;
      background: var(--color-white);
      color: var(--color-accent);
      &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 4.8rem;
        border: 0.1rem solid var(--color-accent);
      }
      &:hover {
        transition: 0.2s all ease;
        background-color: var(--color-accent);
        color: var(--color-white);
        box-shadow: none;
      }
    }
  }
  &__title{
    font: 400 6.4rem/7.7rem var(--Inter);
    text-align: center;
    margin-bottom: 1.6rem;
    &-big{
      font: 400 9.6rem/11.6rem var(--Inter);
      text-align: center;
    }
  }
  &__subtitle{
    font: 400 2.4rem/2.9rem var(--Inter);
    max-width: 62.7rem;
    text-align: center;
    margin: 0 auto;
  }
  &__gradient{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      bottom: 0 ;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--gradient-accent);
      z-index: 1;
      border-radius: 19.3rem;
    }
  }
  &__input{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      opacity: 0.2;
      width: 100%;
      height: 0.2rem;
      background: var(--color-accent);
      left: 0;
      bottom: 0;
    }
    & > *{
      width: 100%;
      border: none;
      font: 400 3.2rem/3.8rem var(--Inter);
      padding: 2.4rem;
      &::placeholder{
        color: var(--color-accent);
        font: 400 3.2rem/3.8rem var(--Inter);
      }
      &:focus{
        border-bottom: 0.1rem solid var(--color-black);
        &::placeholder{
          color: var(--color-black);
        }
      }
    }
  }
}
.header{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 100%;
  z-index: 2;
  .container {
    padding: 4.5rem 15rem;
  }
  &__logo{
    width: 18.2rem;
    height: auto;
    display: block;
  }
  &__menu{
    display: flex;
    font: 400 1.6rem/1.9rem var(--Inter);
    gap: 5.4rem;
    align-items: center;
    justify-content: center;
    a{
      padding: 1.6rem 0;
      transition: all 0.2s ease;
      cursor: pointer;
      &:hover{
        color: var(--color-accent);
      }
    }
  }

  &__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
  }
  &__right{
    display: flex;
    justify-content: flex-end;
    gap: 1.2rem;
    align-items: center;
  }

  &__bag{
    width: 3.2rem;
    height: 3.2rem;
    display: block;
    cursor: pointer;
  }
  &__tel{
    font: 400 1.6rem/1.9rem var(--Inter);
  }


  &__submenu{
    display: none;
    background: var(--color-white);
    position: absolute;
    left: 0;
    top: 2.4rem;
    z-index: 1;
    a {
      padding: 1.6rem;
      font: 400 1.4rem/121.15% var(--Inter);
      color: var(--color-black);
      width: max-content;
      display: inline-block;
      transition: all 0.2s ease;
      &:hover{
        color: var(--color-pudre);
        transition: all 0.2s ease;
      }
    }
  }
  &__drop{
    position: relative;
    &:hover .header__submenu{
      display: flex;
      flex-direction: column;
    }
  }
  &__burger{
    width: 2rem;
    height: 1.4rem;
    display: none;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer ;
    position: relative;
    & > *{
      display: block;
      width: 2rem;
      height: 0.2rem;
      background: var(--color-accent);
      border-radius: 0.2rem;
      transition: .2s ease;
    }
    &-open{
      justify-content: center;
      span{
        display: block;
        position: absolute;
        margin: 0;
        transition: .2s ease;

        &:nth-child(1) {
          transform: rotate(-45deg);
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
  &__started{
    padding: 0.7rem 1.4rem;
  }

}

.main{
  position: relative;
  .container{
    padding: 13.5rem 13rem 6.4rem;
  }

  &__back{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
  }
  &__title{
    font: 400 9.6rem/11.6rem var(--Inter);
    margin-bottom: 2.4rem;
    max-width: 99.7rem;
  }
  &__subtitle{
    font: 400 3.2rem/3.8rem var(--Inter);
    margin-bottom: 4.8rem;
    max-width: 83.2rem;
  }
  &__button{
    padding: 2.5rem 3.5rem;
  }
  &__anker{
    display: flex;
    justify-content: center;
    margin: -3.2rem auto 0;
    a{
      display: inline-block;
    }
    h3 {
      font: 400 1.2rem/1.5rem var(--Inter);
      color: var(--color-accent);
      margin-bottom: 0.8rem;

    }
    &-icon{
      margin: 0 auto;
      width: 4.8rem;
      height: 4.8rem;
    }
  }
  &__flex{
    display: flex;
    justify-content: space-between;
    gap:10rem;
    align-items: center;
  }
  &__block{
    width: calc(68.4% - 10rem);
  }
  &__gallery{
    width: 31.6%;
    overflow: hidden;
    &-img{
      height: 80.6rem;
      border-radius:24rem;
      img{
        border-radius:inherit;
      }
    }

  }


}

.banner{
  .container{
    position: relative;
    padding: 15rem 13rem 5rem;
  }

  &__block{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10rem;
    left: 27rem;
    color: var(--color-white);
    max-width: 62.7rem;
    & > *{
      text-align: left;
    }
  }
  &__logo{
    width: 13.1rem;
    margin-bottom: 2.2rem;
  }
  &__img{
    img{
      border-radius:8rem;
    }
  }

}

.achievement{
  .container{
    padding: 5rem 13rem 5rem;
  }
  &__list{
    display: flex;
    gap: 2.4rem;
    margin-top: 6.4rem;
  }
  &__item{
    width: calc((100% - 7.2rem)/4);
    border-radius: 19.3rem;

  }
  &__img{
    max-height: 65.4rem;
    height: 100%;
    img{
      border-radius: 19.3rem;
    }

  }
  &__info{
    color: var(--color-white);
    text-align: center;
    position: absolute;
    bottom: 7.8rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    & > h3{
      font: 700 6.4rem/7.7rem var(--Inter);
      width: max-content;
      margin: 0 auto 1.6rem;
    }
    &>h4{
      font: 400 2rem/2.4rem var(--Inter);
    }
  }
  &__counter{
    &:after {
      content: "+";
      display: inline-block;
    }
  }
}

.service{
  .container{
    padding: 5rem 13rem 10rem;
    &:after{
      position: absolute;
      content: '';

      bottom: 0;
      width: calc(100% - 26rem);
      left: 50%;
      transform: translateX(-50%);
      height: 0.1rem;
      background: var(--color-accent);
    }
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    gap:6.9rem;
    row-gap: 4.8rem;
    margin-top:4.8rem ;

  }
  &__item{
    width: calc((100% - 6.9rem)/2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:6.9rem;
    &-reverse{
      flex-direction: row-reverse;
    }
  }
  &__img{
    height: 48rem;
    min-width: 44.1%;
    max-width: 44.1%;

    img{

      border-radius: 19.3rem;
    }
  }
  &__info{
    max-width: 30rem;
    h3{
      font: 400 4.8rem/6.6rem var(--Inter);
      margin-bottom: 1.6rem;
    }
    p{
      font: 400 2.4rem/2.9rem var(--Inter);
      margin-bottom: 4.8rem;
    }
    a{
      padding: 2.5rem 4.9rem;
    }
  }
  &__view{
    display: flex;
    max-width: max-content;
    padding: 2.5rem 8rem ;
    margin: 9.6rem auto 0;
  }

}

.procedure{
  .container{
    padding: 10rem 13rem;
  }
  &__list{
    margin-top: 4.8rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:2.4rem;
  }
  &__item{
    width: calc((100% - 2.4rem)/2);
    position: relative;

  }
  &__info{
    position: absolute;
    z-index: 2;
    bottom: 8rem;
    left: 8rem;
    max-width: 59.2rem;
    & > *{
      color: var(--color-white);
      text-align: left;
    }

  }
  &__img{
   height: 80rem;

    img{
      border-radius: 8rem;
    }
  }
  .section__title{
    margin-bottom: 3.2rem;
  }
  .section__gradient:after{
    border-radius: 8rem;
  }
}

.consultation{
  .container{
    padding: 0 13rem 15rem;
  }
  &__subtitle{
    font: 400 3.2rem/3.9rem var(--Inter);
    text-align: center;
    max-width: 83.2rem;
    margin: 2.4rem auto 0;
  }
  .section__title-big{
    max-width: 84.5rem ;
    margin: 0 auto;
  }
  &__flex{
    display: flex;
    gap:4rem;
    justify-content: space-between;
    margin-bottom: 7.2rem;
    & > *{
      width: calc((100% - 8rem)/3)!important;
    }
    &-medium {
      display: flex;
      gap:4rem;
      justify-content: space-between;
      margin-bottom: 7.2rem;
      & > *{
        width: calc((100% - 4rem)/2);
      }
    }
  }
  &__form{
    margin-top: 7.4rem;
  }
  &__button{
    margin: 7.6rem auto 0;
    display: flex;
  }
}

.review{
  background: var(--gradient-review);
  .container{
    padding: 6.4rem 13rem;

  }
  &__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.4rem;
    align-items: center;
  }
  &__title{
    font: 400 4.8rem/5.8rem var(--Inter);
  }
  &__nav{
    display: flex;
    justify-content: flex-end;
    gap:1.2rem;
    &>*{
      left: auto;
      right: auto;
      bottom: auto;
      top:auto;
    }
  }
  &__slider{
    margin-bottom: 4.8rem;
  }
  &__item{
    border-radius: 3.5rem;
    background: var(--color-white);
    padding: 3.2rem;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    gap: 4.8rem;
  }
  &__img{
    height: 2rem;
  }
  &__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  &__date{
    font: 400 1.6rem/140% var(--Roboto);
    opacity: 0.5;
  }
  &__name{
    font: 400 1.6rem/140% var(--Roboto);
    opacity: 0.5;
  }
}

.footer{
  position: relative;

  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  black;
    opacity: 0.8;
    z-index: -1;
  }
  &>*{
    color: var(--color-footer);
  }
  &__logo{
    width: 38.8rem;
  }
  &__desc{
    font: 400 2.4rem/140% var(--Roboto);
    max-width: 47.3rem;
  }

  .container{
    padding: 10rem 13rem 6.6rem ;
  }
  &__back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
  }
  &__flex{
    display: flex;
    align-items: center;
  }
  &__info{
    display: flex;
    gap:10rem;
    padding: 6.4rem 0;
    &-item{
      h4{
        font: 400 1.6rem/1.9rem var(--Inter);
        margin-bottom: 0.8rem;
      }
      a{
        font: 400 2.4rem/2.9rem var(--Inter);
      }
    }
  }
  &__service{
    h3{
      font: 400 2.4rem/3.4rem var(--Roboto);
      margin-bottom: 3.2rem;
    }
    &-list{
      display: flex;
      gap: 2.4rem;
      flex-direction: column;
      a{
        font: 400 1.4rem/1.7rem var(--Inter);
      }
    }
  }
  &__form{
    display: flex;
    gap: 6.4rem;
    align-items: center;
    &-input{
      position: relative;
      input{
        border: none;
        padding: 1.8rem 3.2rem;
        background: transparent;
      }
      button{
        padding: 1.8rem 6.2rem;
        border-radius: 2.7rem;
        border: 0.1rem solid var(--color-white);
        background: transparent;
      }
      &:after{
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 2.7rem;
        border: 0.1rem solid var(--color-white);
        opacity: 0.1;
      }
    }
  }
  &__menu{
    display: flex;
    gap: 6.1rem;
    a{
      font: 400 1.6rem/1.9rem var(--Inter);
    }
  }
}


.swiper-button-prev,.swiper-button-next{
  position: relative;
  width: 10rem;
  height: 10rem;
  margin-top: 0;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10rem;
    height: 10rem;
    background: url("../img/arrow.svg") center/10rem 10rem  no-repeat ;
  }
}
.swiper-button-prev:after{
  transform: rotate(180deg);
}

.swiper-pagination {
  position: relative;
  margin: 0 auto;
  display: flex;
  gap:2.4rem;
  justify-content: center;
  z-index: 1;
  &.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 0;
  }

  &:after{
    //content:'';
    //position:absolute;
    //left: 50%;
    //top:50%;
    //transform: translate(-50%,-50%);
    //height: 0.05rem;
    //border: 0.1rem solid var(--color-gold-light);
    //z-index: 0;
  }

  .swiper-pagination-bullet{
    background: var(--color-dots);
    opacity: 1;
    width: 0.8rem;
    height: 0.8rem;
    margin: 0;
  }
  .swiper-pagination-bullet-active{
    background: var(--color-accent);
  }
}
label.error{
  color:red;
  font: 400 1.6rem/1.9rem var(--Inter);
  position: absolute;
  left: 0;
  bottom: -2.4rem;
  padding: 0;
}
.hidden{
  overflow: hidden;
}
.select2-container--default .select2-selection--single{
  border: none;
  padding: 2.4rem;
  &:after{
    content: '';
    height: 0.2rem;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--color-accent);
    opacity: 0.2;
    position: absolute;
  }
}
.select2-container .select2-selection--single .select2-selection__rendered{
  font: 400 3.2rem/3.8rem var(--Inter);
  color: var(--color-accent);
  position: relative;

}
.select2-search__field{
  display: none;
}
.select2-dropdown{
  border-radius: 0.8rem;
  background: var(--color-white);
  border: none;
  box-shadow: 0.5rem 0.6rem 7.2rem 0 rgba(0, 0, 0, 0.15);
  padding: 3.2rem 6.4rem;

}
.select2-container--default .select2-results>.select2-results__options{
  max-height: max-content;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
  top:50%;
  transform: translateY(-50%);
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-color: var(--color-accent) transparent transparent transparent;
  //border-width: 1.2rem 1.2rem 0  1.2rem;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
  border-color: transparent transparent var(--color-accent) transparent;
  //border-width: 0 1.2rem 1.2rem 1.2rem;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  color:var(--color-accent);
}
.select2-results__option{
  font: 400 2.4rem/2.9rem var(--Inter);
  &:not(:last-child){
    padding-bottom: 2.4rem;
  }
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
  background-color: transparent;
  color:var(--color-accent);
}

@media (max-width: 1920px) {
 .procedure__img{
   height: 41.7vw;
 }
}
@media (max-width: 1600px) {
  .header__menu{
    gap:2rem;
  }
  .wrap .container{
    padding-left: 5rem;
    padding-right: 5rem;
  }

}
@media (max-width: 666px) {
  .wrap .container{
    padding: 3.2rem 2rem;
  }
  .header .container{
    padding: 2rem;
  }
  .main .container{
    padding: 8rem 2rem 6.4rem;
  }
  .main__flex{
    flex-direction: column-reverse;
    gap:2.4rem;
    &>*{
      width: 100%;
    }
  }
  .main__title{
    font-size: 2.4rem;
    line-height: 2.9rem;
    text-align: center;
    margin-bottom: 1.2rem;
  }
  .main__subtitle{
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
    margin-bottom: 3.2rem;
  }
  .main .section__button{
    margin: 0 auto;
  }
  .main__anker{
    margin: 8.5rem auto 0;
  }
  .main__gallery-img{
    height: 44vw;
    img{
      border-radius:19.3rem ;
    }
  }
  .banner .container{
    padding-top: 6.4rem;
  }
  .banner__logo{
    margin:0 auto 0.2rem;
  }
  .banner__img{
    border-radius: 1.6rem;
  }
  .banner__img img{
    border-radius: 1.6rem;
  }
  .banner__block{
    bottom: auto;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0 3.2rem;
    width: 100%;
    & > *{
      text-align: center;
    }
  }
  .banner__img{
    height: 100vw;
    img{
      object-position: left;
    }
  }
  .header__tel, .header__started{
    display: none;
  }
  .header__logo{
    width: 7.2rem;
  }
  .header__burger {
    display: flex;
  }
  .header__menu-mob{
    display: none;
  }
  .header__menu{
    flex-direction: column;
  }
  .header__menu-show{
    display: block;
    position: absolute;
    width: 100vw;
    background-color: var(--color-white);
    z-index: 3;
    top:7rem;
    left: 0;
    height: calc(100vh - 7rem);
  }
  .header__bag{
    width: 2.4rem;
    height: 2.4rem;
  }
  .section__button{
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  .section__title{
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom:1.2rem ;
  }
  .section__button{
    padding: 1.5rem 3.2rem;
  }
  .section__title-big{
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
  .section__subtitle{
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  .achievement__list{
    margin-top: 2.4rem;
    flex-wrap: wrap;
    gap:1.6rem
  }

  .achievement__item{
    width: calc((100% - 1.6rem)/2);
    height: 62.5vw;
  }
  .achievement__img{
    height: 62.5vw;
  }
  .achievement__info > h3{
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin: 0 auto;
  }
  .achievement__info > h4{
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .achievement__info{
    bottom: 3.5rem;
  }
  .service__item{
    flex-direction: column-reverse;
    width: 100%;
    gap:2.4rem;
  }
  .service__item-reverse{
    flex-direction: column-reverse;
  }
  .service__img{
    height: 41vw;
    max-width: 100%;
    min-width: 100%;
  }
  .service__info h3{
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 1.2rem;
    text-align: center;
  }
  .service__info p{
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-bottom: 2.4rem;
    text-align: center;
  }
  .service__info a{
    padding: 1.5rem 2.1rem;
    margin: 0 auto;
  }
  .service__view{
    margin: 3.2rem auto 0;
  }
  .service .container{
    padding-right: 0;
  }
  .service__info h3{
  }
  .service__list{
    margin-bottom: 4.8rem;
    flex-wrap: nowrap;
    gap:0;
  }

  .procedure__list{
    flex-wrap: nowrap;
    gap:0;
    margin-bottom: 3.8rem;
  }
  .procedure .section__gradient:after{
    border-radius: 1.6rem;
  }
  .procedure__img{
    height: 70vw;
  }
  .procedure__img img{
   border-radius: 1.6rem;
  }
  .procedure .section__title{
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-bottom: 1.3rem;
  }
  .procedure .container{
    padding-right: 0;
  }
  .procedure .section__subtitle{
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .procedure__info{
    bottom: 3.2rem;
    left: 2rem;
  }
  .consultation__subtitle{
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  .section__input > * {
    padding: 1.6rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
  .section__input > *::placeholder{
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
  .consultation__flex{
    flex-direction: column;
    gap:1.6rem;
    margin-bottom:1.6rem;
  }
  .consultation__form{
    margin-top: 3.2rem;
  }
  .consultation__flex > *{
    width: 100%!important;
  }
  .consultation__flex-medium{
    flex-direction: column;
    gap:1.6rem;
    margin-bottom:1.6rem;

  }
  .consultation__flex-medium > *{
    width: 100%;
  }
  .consultation .container{
    padding: 3.2rem 2rem 6.4rem;
  }
  .consultation__button{
    margin-top: 3.2rem;
  }
  label.error {
    font: 400 1.2rem/1.4rem var(--Inter);
    bottom: -1.6rem;
  }
  .review .swiper-button-prev, .review  .swiper-button-next{
    display: none;
  }
  .review__title{
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-align: center;
  }
  .review__header{
    justify-content: center;
  }

  .swiper-pagination {
    .swiper-pagination-bullet{
      background: var(--color-dots-mob);
    }
    .swiper-pagination-bullet-active{
      background: var(--color-accent);
      position: relative;
      &:after{
        content:'';
        position:absolute;
        left: 50%;
        top:50%;
        border-radius: 50%;
        transform: translate(-50%,-50%);
        height: 2.4rem;
        width: 2.4rem;
        border: 0.1rem solid var(--color-accent);
        z-index: 0;
      }
    }
  }
  .select2-container--default .select2-selection--single{
    padding: 1.6rem 1.6rem 3.2rem;
  }
  .select2-container .select2-selection--single .select2-selection__rendered{
  padding: 0;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

}