<!-- HEADER -->
<header class="header">
    <div class="container">
        <div class="header__flex">
            
            <a class="header__logo img" href="../index.html">
              <img src="../img/Logo.png" alt="logo" />
            </a>
            <div class="header__menu-mob">
                    <ul class="header__menu">
                        <li class="header__item"><a href="../index.html">Home</a></li>
                        <li class="header__item"><a href="../about.html">About</a></li>
                        <li class="header__item header__drop">
                            <a href="#">Services</a>
                            <ul class="header__submenu">
                                <li><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                            </ul>

                        </li>
                        <li class="header__item"><a href="../shop.html">Shop</a></li>
                        <li class="header__item "><a href="../faq.html">FAQ</a></li>
                        <li class="header__item "><a href="../blog.html">Blog</a></li>
                        <li class="header__item "><a href="../contact.html">Contact Us</a></li>
                    </ul>
            </div>
            <div class="header__right">
                <a href="tel:+8157707555" class="header__tel">+815-770-7555</a>
                <a class="header__bag img" >
                    <img src="../img/bag.svg" alt="">
                </a>
                <a class="section__button header__started" href="#">Get started</a>
                <div class="header__burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

