<!-- FOOTER -->
<footer class="footer">
    <div class="footer__back">
        <img src="../img/footer-back.png" alt="">
    </div>
    <div class="container">
        <div class="footer__flex">
            <div class="footer__block">
                <div class="footer__logo">
                    <img src="../img/footer-logo.png" alt="">
                </div>
                <p class="footer__desc">
                    BiOHAX Wellness and Aesthetics” will offer non-surgical holistic therapies and services that support weight loss (body), fitness..
                </p>
                <div class="footer__info">
                    <div class="footer__info-item">
                        <h4>Address:</h4>
                        <a href="">108 N White Street Frankfort, IL 60423</a>
                    </div>
                    <div class="footer__info-item">
                        <h4>Phone:</h4>
                        <a href="tel:+8157707555">+815-770-7555</a>
                    </div>
                    <div class="footer__info-item">
                        <h4>E-mail:</h4>
                        <a href="mailto:Biohacking@info.com">Biohacking@info.com</a>
                    </div>
                </div>
            </div>
            <div class="footer__service">
                <h3>Services</h3>
                <ul class="footer__service-list">
                    <li><a href="">Red Light Therapy</a></li>
                    <li><a href="">Red Light Therapy</a></li>
                    <li><a href="">Red Light Therapy</a></li>
                    <li><a href="">Red Light Therapy</a></li>
                    <li><a href="">Red Light Therapy</a></li>
                    <li><a href="">Red Light Therapy</a></li>
                    <li><a href="">Red Light Therapy</a></li>
                    <li><a href="">Red Light Therapy</a></li>
                </ul>
            </div>

        </div>
        <div class="footer__flex">
            <div class="footer__form-wrap">
                <form action="" class="footer__form">
                    <h3>Subscribe us:</h3>
                    <div class='footer__form-input'>
                        <input name='email' placeholder="Write your e-mail" type="email">
                        <button type="submit">Send</button>
                    </div>
                </form>
            </div>
            <ul class="footer__menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- /FOOTER -->
